<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>

    
    <link rel="stylesheet" href="/css/styles-create.css">
    <link rel="stylesheet" href="/css/styles_home.css">
</head>

<body>

    <%- include('../partials/header')%>

    <div class="container">

        <h2 class="titular">Edición del producto: <%= comida.id_plato %></h2>

        <form action="/productos/edit/<%=comida.id_plato%>?_method=PUT" method="POST" enctype="multipart/form-data">

            <input class="image" type="number" name="id" value="<%= comida.id_plato %>"  hidden>

            <label class="categorias">Nombre del producto:</label>
            <input class="input" type="text" name="name" value="<%= comida.nombre %>">
            
            <label class="categorias">Descripción:</label>
            <textarea name="description" cols="40" rows="5" ><%= comida.descripcion%></textarea>

            <label class="categorias">Imagen:</label>
            <input class="image" type="file" name="image">
            <input class="image" type="hidden" name="oldImage" value="<%= comida.imagen%>" hidden>

            <label class="categorias">Categoría: </label>
            <select name="category">
                    <!-- revisar, si se pudiera editar la categoria, tendria que ir distinto--> 
                    <option value="<%=comida.plato_cat.nombre%>" >
                        <%= comida.plato_cat.nombre %>
                    </option>
               
            </select>

            <label class="categorias">Receta</label>
            <textarea name="ingredients" cols="40" rows="5"><%= comida.plato_receta.descripcion %></textarea>
            <label class="categorias">Precio: </label>
            <input class="input" type="number" name="price" value="<%=comida.precio%>">


            <button class="button-create" type="submit"> Editar </button>

        </form>
    </div>


    <%- include('../partials/footer')%>    
    <section class="sec4-footer">    
        <div class="copyrgight">
            <p>Copyright © 1999-2020 ComidasRegionales NOA S.R.L.</p>
        </div>
    </section>
    
</body>
</html>