<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/product_list.css">
    <title> Listado de Productos </title>
</head>
<body>
    
	<%- include('../partials/header') %>

    <main>

    <div class="all-products">
		
		<div class="titulo">
			<h2>Todos los productos</h2>
		</div>

		<% for (let i = 0; i < products.length; i++) { %>
		<div class="first-container">
			
			<a href="/products/detail/¿?">
				<figure class="box_image">
					<img src="<%= products[i].image %>" alt="imagen de producto">
				</figure>
            </a>

			<article class="data-container">
                <a href="#">
					<h2> <%= products[i].name %> </h2>
                </a>

				<p class="price"> <%= products[i].price %> </p>
				<p class="category"> <%= products[i].category %> </p>
			</article>
		
	    </div>
        <% } %>

	</div>

    </main>

	<%- include('../partials/footer') %>

	<section class="sec4-footer">    
        <div class="copyrgight">
            <p>Copyright © 1999-2020 ComidasRegionales NOA S.R.L.</p>
        </div>
    </section>

</body>
</html>