<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Mi perfil</title>
</head>
<body>
    <%- include('../partials/header')%>
    <main>
        <section class="content__perfil">
            <h1>Hola <%= user.nombre %> !!</h1>
            
            <div class="detalleDatosPersonales">
                <h3>Datos Personales</h3>
                <div class="content_img_perfil" id="imagenPerfil">
                    <img src="/img/usuarios/<%=user.foto_usuario %>">                                
                </div>
                <p>DNI: <%= user.DNI%></p>
                <p>Email: <%= user.email%></p>
                <p>Direccion: <%= user.direccion%></p>
                <div class="pencil--verde">
                    <a href="/user/editar/<%=user.id_usuario%>"><i class="fas fa-pencil-alt "style="color: #39b54a;" ></i> </a>
                </div>
            </div>
            
        </section>
    </main>
    <%- include('../partials/footer')%>    
    <section class="sec4-footer">    
        <div class="copyrgight">
            <p>Copyright © 1999-2020 ComidasRegionales NOA S.R.L.</p>
        </div>
    </section>
</body>
</html>